<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sambuddha Basu, Jesse Pollak</string>
	<key>Builder Version</key>
	<string>10600.7.12</string>
	<key>CFBundleDisplayName</key>
	<string>Privly</string>
	<key>CFBundleIdentifier</key>
	<string>com.privly.privly</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>new_message</string>
				<key>Title</key>
				<string>Privly: New Message</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>privly.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popover.html</string>
				<key>Height</key>
				<real>165</real>
				<key>Identifier</key>
				<string>privly_popover</string>
				<key>Width</key>
				<real>200</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>privly_toolbar</string>
				<key>Image</key>
				<string>img/extension_on.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Privly</string>
				<key>Popover</key>
				<string>privly_popover</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scripts/content_scripts/privly.js</string>
				<string>scripts/content_scripts/handle_privly_execution.js</string>
				<string>scripts/content_scripts/post_new_link.js</string>
				<string>scripts/content_scripts/posting_button.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>The official Privly Safari browser extension.</string>
	<key>DeveloperIdentifier</key>
	<string>34B3M269R6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://priv.ly</string>
</dict>
</plist>
